.App {
  margin: 2rem;
}

pre {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

button {
  padding: 0.5em 1em;
  color: white;
  background: black;
  border: none;
}
button.active {
  background: rgb(0, 126, 164);
}
button + button {
  margin-left: 0.5rem;
}
